<!doctype html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="app">
        <div>
            <div>Hello {{name}}!</div>
            Name: <input v-model="name" type="text">
        </div>
    </div>
    <hr />
    <div id="app1">
        <div>
            Name: <input v-model="name" type="text">
            <hello-component :name="name" :initialenthusiasm="5" />
        </div>
    </div>

    <hr />
    <div id="app2">
        <div>
            Name: <input v-model="name" type="text">
            <hello2-component :name="name" :initialEnthusiasm="5" />
        </div>
    </div>
    <hr />
</body>
<script src="JS/index_ts.min.js"></script>

</html>